{{ define "section_content" }}
<div class="flex-container">
    {{ if .Params.showLastmod }}
    <aside role="complementary">
        Lastmod: {{ .Lastmod.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006") }}
    </aside>
    <hr />
    {{ end }}
    <article role="article">
        {{ .Content }}
    </article>
</div>
{{ end }}

{{ define "bottom-menu" }}
<nav role="navigation" class="flex-container bottom-menu">
    {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true "show_home_menu_item" true) }}
</nav>
{{ end }}