<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    <title>{{ .Title | markdownify }}</title>
</head>

<body>
    <main class="flex-container profile" id="splash">
        {{ if .Site.Params.profile }}
        {{ partial "profile.html" (dict "profile" .Site.Params.profile "title" .Title) }}
        {{ end }}

        {{ if .Site.Params.mainMenu }}
        <nav role="navigation" class="flex-container bottom-menu">
            {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" false "show_home_menu_item" false) }}
        </nav>
        {{ end }}
    </main> 
    <footer class="flex-container footer">{{ partial "footer.html" . }}</footer>
</body>

</html>
