{{ $data := newScratch }}
{{ $data.Set "inner" .Inner }}
{{ $names := findRE "\\[\\[([^ ]*)\\]\\]" .Inner }}
{{ range $names }}
    {{ $obsidianInternalLink := replace (replace . "[[" "") "]]" "" }}
    {{ if (gt (len $obsidianInternalLink) 0) }}
        {{/* handle obsidianLink|name from obsidianInternalLink */}}
        {{ $parts := split $obsidianInternalLink "|" }}
        {{ $obsidianLink := (index $parts 0) }}
        {{ $name := cond (eq (len $parts) 2) (printf "%s" (index $parts 1)) $obsidianLink }}

        {{/* handle file#heading from obsidianLink */}}
        {{ $parts := split $obsidianLink "#" }}
        {{ $file := printf "%s.md" (index $parts 0) }}
        {{ $heading := cond (eq (len $parts) 2) (printf "#%s" (index $parts 1)) "" }}
        {{ $permalink := relref $.Page (printf "%s%s" $file $heading) }}

        {{/* replace by markdown link format */}}
        {{ $markdownLink := printf "[%s](%s)" $name $permalink }}
        {{ $data.Set "inner" (replace ($data.Get "inner") . $markdownLink) }}
    {{ end }}
{{ end }}
{{ $data.Get "inner" | markdownify }}
